:root {
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  --Light-grayish-blue: hsl(240, 5%, 91%);
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: linear-gradient(to bottom, var(--Soft-violet), var(--Soft-blue));

  min-height: 100vh;
}

.main-card {
  background-color: var(--white);
  width: 320px;
  min-height: 510px;
  border-radius: 28px;
  margin: 140px auto 30px;
  box-shadow: 0 10px 40px var(--Very-dark-desaturated-blue);
  padding: 30px;
}

.img {
  width: 240px;
  display: block;
  margin: -140px auto 50px;
}

.background {
  content: url(/images/bg-pattern-mobile.svg);
  width: 240px;
  margin: -125px auto 0;
}

.title {
  text-align: center;
  padding: 30px 0px;
}

.details-sections {
  margin: 16px 0;
  position: relative;
}

.details-sections[open] {
  font-weight: 700;
}

.questions {
  list-style: none;
  letter-spacing: 0.3px;
}
.solutions {
  color: var(--Dark-grayish-blue);
  font-weight: 400;
  padding-top: 10px;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.arrow {
  position: absolute;
  right: 5px;
}

.details-sections[open].arrow[open] {
  transform: rotate(180deg);
  transition: 300ms;
}

.questions:hover {
  cursor: pointer;
  color: var(--Soft-red);
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
